.bg-header{
    background-color: #264653;
;
}
.bg-header h1{
    color: #FFFFFF;
    font-size: 48px;
}
.bg-header p{
    color: #E0E0E0;
    font-size: 16px;
}

}
.header-button{
    background-color: #E76F51;
  

}

    